@tailwind base;
@tailwind components;
@tailwind utilities;


.header{
  background-color:rgb(54, 19, 19);
  color:rgb(233, 155, 113);
}
.header-button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 50px;
  margin-top: 5px;
}
h1{
  font-size: 1.5rem;
  font-weight: bold;
  color:black;
}
.footer{
  background-color:rgb(54, 19, 19);
  color:rgb(233, 155, 113);
}
.footer-button{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 15px;
   height: 50px;

}
span{
  color: rgb(66, 21, 50)
}
.container{
  background-color: rgb(161, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 10px;
}
.child-container{
  height: 150px;
  width: 800px;
  color: black;
  font: bold;
  margin-top: 5px;
  font-size: 35px;
  text-align: center;
}
p{
  font-size: 20px;
}
.img{
  height: 250px;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}